@import url("https://fonts.googleapis.com/css?family=Damion");

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  font-family: "Damion", cursive;
  display: flex;
  justify-content: space-between;
  color: greenyellow;
  text-shadow: -5px 0 0 darkred;
  background: blue;
  border-top: solid 10px green;
  border-bottom: solid 10px orange;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  width: 100px;
}
